.footer {
    border: 2px solid gray;
    box-shadow: 3px 3px 5px gray;
    width: 100%;
    padding: 20px;
    position: absolute;
    bottom: 0;
}

.text-muted {
    color: #6c757d;
}

.fa-heart {
    color: #ff0000;
}

.fa {
    margin-right: 10px;
}
