.navbar {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 20px;
  }
  
  .navbar__button {
    margin-left: 20px;
  }
  
  .navbar__button:first-child {
    margin-left: 0;
  }
  
  .navbar__button a {
    color: #000000;
    text-decoration: none;
    font-size: 18px;
  }
  
  .navbar__button a:hover {
    color: #666666;
  }
  
  .navbar__button a.navbar__active {
    font-weight: bold;
    color: #666666;
  }
  